html {
    margin: 0;
}

main {
    margin: 0 auto;
    width: 80%;
    max-width: 1400px;
}

body {
    background-color: #e7e7e7;
    padding: 0;
    margin: 0;
}

a {
    font-family: Epilogue;
    color: rgb(231, 231, 231);
    text-decoration: none;
    font-style: bold;

}

p {
    font-family: Epilogue;
    line-height: 1.4rem;
}

h1 {
    font-family: Orbitron;
    color: hsl(0, 0%, 22%);
    font-size: 2.5rem;
}

h2 {
    font-family: Gruppo;
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

h3 {
    font-family: "Grape Nuts", cursive;
    font-size: 2.5rem;
    color: hsla(0, 0%, 100%, 0.733);
    margin: 0;
    text-justify: right;
}

header {
    display: flex;
    justify-content: space-between;
    background-image: url("../Images/code.png");
    background-size: cover;
    background-position: center;
    height: 15rem;
    margin: 0;
}

.header-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
    width: 100%;
    height: 15rem;
    z-index: 1;
}

.profile-pic {
    box-sizing: border-box;
    display: flex;
    padding: 1.5rem;
    height: 100%;
    z-index: 2;
}

.profile-pic img {
    display: inline-block;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(168, 168, 168);
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    border-radius: 10%;
}

.profile-pic h2 {
    padding: 1rem;
    align-self: flex-end;
    margin-left: 1.5rem;
    margin-bottom: 0;
    border-radius: 5px;
}

nav {

    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.678);
    color: rgb(139, 139, 139);
    padding: 1rem;
    z-index: 2;
}

nav ul {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
    list-style-type: none;
    width: 10rem;
    height: 100%;
    margin: 0 auto;
}



main {
    padding: 1rem 2rem;
}

.about-me {
    display: flex;
    margin-bottom: 3rem;
}



.article {
    flex: 1.5;
    padding-right: 4rem;
    text-align: justify;
    align-self: center;
}

.reel {
    flex: 1;
    display: grid;
    grid-template-areas:
        "pic1 pic2 pic2"
        "pic3 pic3 pic4"
        "pic5 pic6 pic6";
    grid-template-rows: repeat(3, 10rem);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px 5px;
}

.pic1 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.pic3 {
    grid-area: pic3;
}

.pic4 {
    grid-area: pic4;
}

.pic5 {
    grid-area: pic5;
}

.pic6 {
    grid-area: pic6;
}

.reel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-container {
    display: flex;
    flex-flow: column;

}

.project {
    display: flex;
    width: 100%;
    height: 20rem;
    margin-top: 1rem;

}

.project img {
    flex: 1;
    display: block;
    height: 100%;
    width: 30%;
    object-fit: cover;
    object-position: center;
}

.info {
    box-sizing: border-box;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.295);
    color: rgb(54, 54, 54);
    width: 100%;
    height: 100%;
}

.info h2 {
    margin: 0;
}

.skills-container {
    display: grid;
    grid-template-areas:
        "skill1 skill2 skill3 skill4 skill5"
        "title cap cap cap cap";
    grid-template-rows: 10rem 5rem;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem 5px;
    align-content: center;
    justify-content: center;

}

#icon1{
    grid-area: skill1;
}

#icon2{
    grid-area: skill2;
}

#icon3{
    grid-area: skill3;
}

#icon4{
    grid-area: skill4;
}

#icon5{
    grid-area: skill5;
}

.title {
    grid-area: title;
    box-sizing: border-box;
    background-color: rgb(94, 94, 94);


    padding: 1rem;
    text-align: end;
    border-radius: 5px;
    visibility: hidden;
 }

 .title * {
    box-sizing: border-box;
    position: relative;
    visibility: hidden;
    line-height: 0;
    top: 1.5rem;
    
    
 }

.caption {
    grid-area: cap;
    box-sizing: border-box;
    background-color: rgb(160, 160, 160);
    padding: 1rem;
    border-radius: 5px;
    visibility: hidden;
 }

.caption * {
    position: absolute;
    visibility: hidden;
    max-width: 50%;
}

.skill-icon img {
    width: 10rem;
    height: auto;
    object-position: center;
    object-fit:contain;
}

.skill-icon {
    margin: auto;
}


footer {
    display: flex;
    background-color: rgb(32, 37, 54);
    box-sizing: border-box;
    height: 10rem;
}

footer h1 {
    display: inline-block;
    background-color: hsl(226, 26%, 10%);
    padding: 1rem 3rem;
    margin: 0;
    align-content: center;
}

footer ul {
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
    width: 50%;
}

footer .contact-info a {
    line-height: 2rem;
}

@media only screen and (max-width: 1000px) {
    .about-me {
        flex-direction: column;
    }
    .about-me .article {
        flex: 1;
        padding: 0;
    }
    .project-container .project {
        box-sizing: border-box;
        flex-direction: column;
        height: 100%;
    }
    .project-container .project img {
        display: block;
        max-height: 30%;
        width: 100%;

    }
    .skill-icon img {
        width: 5rem;
    }
    .title * {
        font-size: 1.2rem;
    }
    .skills-container {

        grid-template-rows: 10rem 10rem;
    
    }
}